* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
input,
button {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
}

.loading {
    text-align: center;
    margin-top: 48px;
}

.content {
    width: 100%;
    max-width: 580px;
    margin-top: 80px;
    margin-bottom: 54px;
    padding: 0 20px;
}

.link-button {
    font-size: 16px;
    font-weight: 700;
    color: gray;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}
