.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.pagination a {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #000;
}
